In [1]:
import pandas as pd
import numpy as np
import joblib ## for model exportation

In [2]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 500)

df = pd.read_csv("cleaned_data.csv", low_memory=False)
df

,Age,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,Changed_Credit_Limit,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Total_EMI_per_month,Amount_invested_monthly,Monthly_Balance,Credit_Score,Credit-Builder Loan,Personal Loan,Debt Consolidation Loan,Student Loan,Payday Loan,Mortgage Loan,Auto Loan,Home Equity Loan,Occupation_Accountant,Occupation_Architect,Occupation_Developer,Occupation_Doctor,Occupation_Engineer,Occupation_Entrepreneur,Occupation_Journalist,Occupation_Lawyer,Occupation_Manager,Occupation_Mechanic,Occupation_Media_Manager,Occupation_Musician,Occupation_Scientist,Occupation_Teacher,Occupation_Writer,Payment_of_Min_Amount_No,Payment_of_Min_Amount_Yes,Payment_Behaviour_High_spent_Large_value_payments,Payment_Behaviour_High_spent_Medium_value_payments,Payment_Behaviour_High_spent_Small_value_payments,Payment_Behaviour_Low_spent_Large_value_payments,Payment_Behaviour_Low_spent_Medium_value_payments,Payment_Behaviour_Low_spent_Small_value_payments
0,23.0,19114.12,1824.843333,3.0,4.0,3.0,4.0,3.0,7.0,11.27,4.0,1.0,809.98,26.822620,265.0,49.574949,80.415295,312.494089,2,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,1,0,0,0
1,23.0,19114.12,3095.978333,3.0,4.0,3.0,4.0,-1.0,14.0,11.27,4.0,2.0,809.98,31.944960,219.0,49.574949,118.280222,284.629162,2,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,1,0,0
2,23.0,19114.12,3095.978333,3.0,4.0,3.0,4.0,5.0,4.0,6.27,4.0,2.0,809.98,31.377862,268.0,49.574949,199.458074,223.451310,2,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,1
3,23.0,19114.12,1824.843333,3.0,4.0,3.0,4.0,6.0,14.0,11.27,4.0,2.0,809.98,24.797347,269.0,49.574949,41.420153,341.489231,2,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,1,0,0,0,0
4,23.0,19114.12,3095.978333,3.0,4.0,3.0,4.0,8.0,4.0,9.27,4.0,2.0,809.98,27.262259,270.0,49.574949,62.430172,340.479212,2,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97219,25.0,39628.99,3359.415833,4.0,6.0,7.0,2.0,23.0,7.0,11.50,3.0,1.0,502.38,34.663572,378.0,35.104023,60.971333,479.866228,0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,1,0,0,0,0,0
97220,25.0,39628.99,3359.415833,4.0,6.0,7.0,2.0,18.0,7.0,11.50,3.0,1.0,502.38,40.565631,379.0,35.104023,54.185950,496.651610,0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,1,0,0,0,0
97221,25.0,39628.99,3359.415833,4.0,6.0,13.0,2.0,27.0,6.0,11.50,3.0,2.0,502.38,41.255522,380.0,35.104023,24.028477,516.809083,0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,1,0,0,0,0,0
97222,25.0,39628.99,3359.415833,4.0,6.0,7.0,2.0,20.0,14.0,11.50,3.0,2.0,502.38,33.638208,381.0,35.104023,251.672582,319.164979,1,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,1,0,0
97223,25.0,39628.99,3359.415833,4.0,6.0,7.0,2.0,18.0,6.0,11.50,3.0,2.0,502.38,34.192463,382.0,35.104023,167.163865,393.673696,0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,1

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 97224 entries, 0 to 97223
Data columns (total 50 columns):
 #   Column                                              Non-Null Count  Dtype
---  ------                                              --------------  -----
 0   Age                                                 97224 non-null  float64
 1   Annual_Income                                       97224 non-null  float64
 2   Monthly_Inhand_Salary                               97224 non-null  float64
 3   Num_Bank_Accounts                                   97224 non-null  float64
 4   Num_Credit_Card                                     97224 non-null  float64
 5   Interest_Rate                                       97224 non-null  float64
 6   Num_of_Loan                                         97224 non-null  float64
 7   Delay_from_due_date                                 97224 non-null  float64
 8   Num_of_Delayed_Payment                              97224 non-null  float64
 9   Changed_Credit_Limit                                97224 non-null  float64
 10  Num_Credit_Inquiries                                97224 non-null  float64
 11  Credit_Mix                                          97224 non-null  float64
 12  Outstanding_Debt                                    97224 non-null  float64
 13  Credit_Utilization_Ratio                            97224 non-null  float64
 14  Credit_History_Age                                  97224 non-null  float64
 15  Total_EMI_per_month                                 97224 non-null  float64
 16  Amount_invested_monthly                             97224 non-null  float64
 17  Monthly_Balance                                     97224 non-null  float64
 18  Credit_Score                                        97224 non-null  int64
 19  Credit-Builder Loan                                 97224 non-null  float64
 20  Personal Loan                                       97224 non-null  float64
 21  Debt Consolidation Loan                             97224 non-null  float64
 22  Student Loan                                        97224 non-null  float64
 23  Payday Loan                                         97224 non-null  float64
 24  Mortgage Loan                                       97224 non-null  float64
 25  Auto Loan                                           97224 non-null  float64
 26  Home Equity Loan                                    97224 non-null  float64
 27  Occupation_Accountant                               97224 non-null  int64
 28  Occupation_Architect                                97224 non-null  int64
 29  Occupation_Developer                                97224 non-null  int64
 30  Occupation_Doctor                                   97224 non-null  int64
 31  Occupation_Engineer                                 97224 non-null  int64
 32  Occupation_Entrepreneur                             97224 non-null  int64
 33  Occupation_Journalist                               97224 non-null  int64
 34  Occupation_Lawyer                                   97224 non-null  int64
 35  Occupation_Manager                                  97224 non-null  int64
 36  Occupation_Mechanic                                 97224 non-null  int64
 37  Occupation_Media_Manager                            97224 non-null  int64
 38  Occupation_Musician                                 97224 non-null  int64
 39  Occupation_Scientist                                97224 non-null  int64
 40  Occupation_Teacher                                  97224 non-null  int64
 41  Occupation_Writer                                   97224 non-null  int64
 42  Payment_of_Min_Amount_No                            97224 non-null  int64
 43  Payment_of_Min_Amount_Yes                           97224 non-null  int64
 44  Payment_Behaviour_High_spent_Large_value_payments   97224 non-null  int64
 45  Payment_Behaviour_High_spent_Medium_value_payments  97224 non-null  int64
 46  Payment_Behaviour_High_spent_Small_value_payments   97224 non-null  int64
 47  Payment_Behaviour_Low_spent_Large_value_payments    97224 non-null  int64
 48  Payment_Behaviour_Low_spent_Medium_value_payments   97224 non-null  int64
 49  Payment_Behaviour_Low_spent_Small_value_payments    97224 non-null  int64
dtypes: float64(26), int64(24)
memory usage: 37.1 MB

In [8]:
first_rows = df.loc[df['Credit_Score'] == 0].head(2)

last_row = df.loc[df['Credit_Score'] == 1].tail(1)
result_df = pd.concat([first_rows, last_row])
result_df.to_csv('Credit_Score_0_and_1.csv', index=False)

In [9]:
sorted_df = df.sort_values(by='Num_Credit_Inquiries', ascending=False)
sorted_df[['Num_Credit_Inquiries']]

       Num_Credit_Inquiries
36675                2597.0
18975                2594.0
56397                2592.0
4722                 2592.0
86681                2589.0
...                     ...
90724                   0.0
90723                   0.0
90722                   0.0
90721                   0.0
19718                   0.0

[97224 rows x 1 columns]